---
// import BlogPostItem from "@/components/custom/blog-post-item.astro"
import Layout from "@/layouts/Layout.astro"

// const allPosts = await Astro.glob("./blog/*.md")
---


<Layout title="A-frame | Blog">
    Coming soon
    <!-- <div class="max-w-6xl mx-auto">
        <h1>A-Frame Blog</h1>
        {allPosts.map((post) => <BlogPostItem url={post.url} title={post.frontmatter.title}/>)}
    </div> -->
</Layout>