---
import Layout from "@/layouts/Layout.astro"
import { getEntry } from "astro:content"
import { getCollection } from "astro:content"

const allPosts = await getCollection('posts')
---


<Layout title="A-frame | Blog">
    <!-- Coming soon... -->
    <!-- <div class="max-w-6xl mx-auto">
        <h1>A-Frame Blog</h1>
        {allPosts.map((post) => <BlogPostItem url={post.url} title={post.frontmatter.title}/>)}
    </div> -->
    {allPosts.map(async(post) => {
        const entry = await getEntry('posts', post.slug)
        const { Content } = await entry.render()
        return <div><hr/><div>{post.data.title}</div><Content/></div>
    })}
</Layout>

