---
import Layout from '../layouts/Layout.astro';
---
<Layout title="A-Frame Experiments">
	<div class="grid">
		<h1>A-Frame Experiments</h1>
		<ul>
			<li>
				<a href="/a-frame/sketch/0-demo">Hello World</a>
			</li>
			<li>
				<a href="/a-frame/sketch/1-panorama">Panorama</a>
			</li>
			<li>
				Skybox
				<ul>
					<li>
						<a href="/a-frame/sketch/2-skybox-1">Night Sky</a>
					</li>
					<li>
						<a href="/a-frame/sketch/2-skybox-2">Basketball Court</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/a-frame/sketch/3-interaction">Interaction</a>
			</li>
		</ul>
	</div>
</Layout>
