---
import Navigation from '@/components/custom/navigation.astro';
import Layout from '../layouts/Layout.astro';
const base = import.meta.env.BASE_URL
---
<Layout title="A-Frame Experiments">
	<div class="grid gap-4">
		<h1>A-Frame Experiments</h1>
	</div>
</Layout>
