---
import Layout from "./Layout.astro"
const {frontmatter} = Astro.props
---

<Layout title={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p>Published on {frontmatter.date}</p>

    <hr/>
    
    <slot/>
</BaseLayout>